@import "tailwindcss";

@theme  {
  --color-black: #262626
    
}


@layer components {
  .gradation-red  {
    position: relative;
  border-radius: 40px;
  overflow: hidden;
  }

  .gradation-red::before{
      content: "";
    position: absolute;
    inset: 0;
    padding: 8px; /* ボーダー幅 */
    border-radius: inherit;
    background: linear-gradient(#770E13 0%, #CF5056 50%, #770E13 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradation-gold {
    border: 8px solid;
    border-image: linear-gradient(#C2A800 0%, #FFED7A 40%, #FFF3A8 50%, #FFED7A 60%, #C2A800 100%);
    border-image-slice: 1;
  }

  .rounded-modal{
    border-radius: 40px;
  }

}
