/* 背景の横スクロールアニメーション */
@keyframes scrollx {
    0% { background-position-x: 0; }
    100% { background-position-x: 1280px; } 
}

.bgScrollX {
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: scrollx 40s linear infinite;
}
